html {
	background: url(http://www.outdooralabama.com/photos/images/05scenic1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	margin: 0 auto;
}
.container{
	margin-top: 200px;
margin-left: 100px;
margin-right: 100px;
	
}

.box{
	background-color: #685642;
	margin:0 auto;
	
	
}

.content{
	font-family: 'Raleway', sans-serif;
color:#F4F0CB;
padding-top: 10px;
padding-bottom: 10px;
margin: 50px;
line-height: 170%;
text-align: center;
}


p {
	
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
	}



h3{
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
	margin:20px;
}

.family{
	font-family: 'Righteous', cursive;
	color: #FF3300;
	text-decoration: 
	font-size: 40px;
	text-align: center;
	margin:20px;
}

h4{
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	font-size: 30px;
	
	text-align: center;
}

td {
	font-family: 'Pontano Sans', sans-serif;
	color:#F4F0CB;
	font-size: 18px;
	font-weight: bold;
	padding-right: 10px;
	padding-bottom: 20px;
}

table{
	text-align: justify;
}
td.personal {
	
	min-width: 120px;
}

.history{
	
	min-width: 60px;
}

.info{
	padding-top: 40px;
	margin-left: 20px;
	padding-bottom:10px;
	text-align: justify;
}

#live {
	padding-left: 50px;
}

h5{
	font-family: 'Pontano Sans', sans-serif;
	
	font-size: 18px;
	font-weight: bold;
}

option{
	font-family: 'Cabin Condensed', sans-serif;
	color:#F4F0CB;
	background-color: #B7C68B;
	font-size: 12px;
}


input[type="radio"] {
	font-family: 'Cabin Condensed', sans-serif;
	
	font-size: 12px;
	
}

 input[type="text"]{
 	border-color: #F4F0CB;
background-color: transparent; 
border-style: solid; 
border-width: 0px 0px 1px 0px; 
color: white;
font-size: 18px;
font-family: 'Pontano Sans', sans-serif;
padding: 0;

}

 input:focus, textarea:focus  {
 	outline:none;
 	
-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);

}



textarea {
	border-color: #F4F0CB;
background-color: transparent;
color:white; 
border-style: solid; 
border-width: 1px;
}



input:checked
{outline: none;
background:#993300;
}

footer {
position: fixed;
bottom: 0;
right: 0;
width:100%;
margin: 0;
padding-right: 10px;
padding-bottom: 10px;
height: auto;
font-family: 'Gloria Hallelujah', cursive;
}

footer a {
    text-decoration: none;
    color: #F4F0CB;
    font-weight: bold;
    
}

footer a:hover {
    text-decoration: underline;
    color: #F4F0CB;
}

.copy {
	float: right;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 2px;
	color:white;
}

