html {
	background: url(http://i1144.photobucket.com/albums/o489/shannones1104/tree_zps0f1cb64c.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	margin: 0 auto;
	overflow: auto;
}

#hidden{
	overflow: hidden;
}
.container{
	margin: 100px;
	
}

.box{
	background-color: rgba(139, 119, 101, 0.7);
	margin:0 auto;
	width: 670px;
}

#results{
	width:800px;
}

.content{
	font-family: 'Raleway', sans-serif;
color:#F4F0CB;



}

#form{
	padding-top:40px;
}


article {
	text-align: center;
	padding: 30px 10px 10px 10px;
	font-size: 20px;
	text-align: center;

	}

button{
	margin: 30px;
background-color: #F4F0CB;
border: 2px solid brown;
border-radius: 4px;
padding: 5px 10px;
}

article a{
	
	
	font-size: 35px;
	color: brown;
	text-decoration: none;
}

article button:hover, article a:hover{
	
	background-color: brown;
	color:#F4F0CB;
}

#header{
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 90px;
	text-align: center;
	margin: 10px;
}

h1{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 60px;
	text-align: center;
	margin: 0;
	

}
.title{
	margin:30px 10px;
	line-height: 200%;
}

h3{
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 50px;
	text-align: center;
	margin: 20px;
}




.family{
	font-family: 'Righteous', cursive;
	color: #FF3300;
	
	font-size: 40px;
	text-align: center;
	margin:20px;
}

h2{
	
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 60px;
	text-align: center;
	margin: 0;
	width: 100%;
}

td {
	font-family: 'Pontano Sans', sans-serif;
	color:#F4F0CB;
	font-size: 22px;
	font-weight: bold;
	padding-right: 40px;
	padding-bottom: 20px;
	float: left;
}

table{
	text-align: justify;
	padding: 40px 20px 20px 20px;
}
td.personal {
	
	min-width: 120px;
}

.history td{
	font-size: 16px;
	font-weight: normal;
	
}

.info{
	padding-top: 40px;
	margin-left: 20px;
	padding-bottom:10px;
	text-align: justify;
}

#live {
	padding-left: 50px;
}

h5{
	font-family: 'Pontano Sans', sans-serif;
	
	font-size: 18px;
	font-weight: bold;
}

option{
	font-family: 'Cabin Condensed', sans-serif;
	color:#F4F0CB;
	background-color: #B7C68B;
	font-size: 12px;
}


input[type="radio"] {
	font-family: 'Cabin Condensed', sans-serif;
	
	font-size: 12px;
	
}

 input[type="text"]{
 	border-color: #F4F0CB;
background-color: transparent; 
border-style: solid; 
border-width: 0px 0px 1px 0px; 
color: white;
font-size: 20px;
font-family: 'Pontano Sans', sans-serif;
padding: 0;

}

 input:focus, textarea:focus  {
 	outline:none;
 	
-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);

}



textarea {
	border-color: #F4F0CB;
background-color: transparent;
color:white; 
border-style: solid; 
border-width: 1px;
}



input:checked
{outline: none;
background:#993300;
}

footer {
position: fixed;
bottom: 0;
right: 0;
width:100%;
margin: 0;
padding-right: 10px;
padding-bottom: 10px;
height: auto;
font-family: 'Gloria Hallelujah', cursive;
}

footer a {
    text-decoration: none;
    color: #F4F0CB;
    font-weight: bold;
    
}

footer a:hover {
    text-decoration: underline;
    color: #F4F0CB;
}

.memory {
	float:left;
	padding-top: 5px;
	padding-left:15px;
	padding-bottom:2px;
	color: white;
}

.copy {
	float: right;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 2px;
	color:white;
}

